In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os.path as osp
from data_to_csv import *
import utils
import logging

2019-05-09 00:47:21,220 - Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [2]:
logging.getLogger('matplotlib').setLevel(logging.WARNING)

In [3]:
sns.set()

conf = {
    'font.size': 14.0,
    'axes.grid': True,
    'axes.axisbelow': True,
    'axes.edgecolor': 'black',
    'axes.facecolor': '#E5E5EF',
#    'axes.facecolor': '#E0E0EF',
    'axes.labelcolor': 'black',
    'axes.titlesize': 15.6,
    'axes.labelsize': 'large',    
    'figure.figsize': (12, 7),
    'figure.titlesize': 'x-large',
    'grid.linewidth': 1.3,
    'xtick.labelsize': 'large',
    'ytick.labelsize': 'large',
    'xtick.color': 'black',
    'ytick.color': 'black',
    'legend.fontsize': 'large',
}

plt.rcParams.update(conf)

In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:70% !important; }</style>"))

In [5]:
df_posts_2017_10_old = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-10.json')
#df_posts_2017_10_new = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku\posts\2017-10.json')

In [6]:
#df_posts_2017_11 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-11.json')
#df_posts_2017_10 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-10.json')
#df_posts_2017_9 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-9.json')
#df_posts_2017_8 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-8.json')
#df_posts_2017_7 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-7.json')
#df_posts_2017_6 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-6.json')
#df_posts_2017_5 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-5.json')
#df_posts_2017_4 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-4.json')
#df_posts_2017_3 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-3.json')
#df_posts_2017_2 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-2.json')
#df_posts_2017_1 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2017-1.json')
#df_posts_2016_12 = json_posts_to_pandas(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old\posts\2016-12.json')

In [7]:
#df_posts = pd.concat((df_posts_2017_11, df_posts_2017_10, df_posts_2017_9, df_posts_2017_8, df_posts_2017_7, df_posts_2017_6, df_posts_2017_5, df_posts_2017_4, 
#                      df_posts_2017_3, df_posts_2017_2, df_posts_2017_1, df_posts_2016_12))

In [8]:
directory = osp.join(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old', 'posts')
existing_months = sorted(set([utils.Month.from_str(s.replace('.json', '')) for s in os.listdir(directory)]))
dfs_posts = []
for month in existing_months:
    df = json_posts_to_pandas(osp.join(directory, f'{month}.json'))
    dfs_posts.append(df)

In [9]:
df_posts = pd.concat([i for i in dfs_posts if i.shape[0] > 0][:-1])  # excluding last month, because it is not complete

In [10]:
df_posts = df_posts.set_index('id')
df_posts['created_time'] = pd.to_datetime(df_posts['created_time'])
df_posts['updated_time'] = pd.to_datetime(df_posts['updated_time'])
df_posts['message'] = df_posts['message'].fillna('')

In [15]:
directory = osp.join(r'E:\Projects\facebook_feeds\texts\scitani_ceskych_a_slovenskych_otaku_old', 'comments')
existing_months = sorted(set([utils.Month.from_str(s.replace('.json', '')) for s in os.listdir(directory)]))
dfs_comments = []
for month in existing_months:
    df = json_comments_to_pandas(osp.join(directory, f'{month}.json'))
    dfs_comments.append(df)

df_comments = pd.concat([i for i in dfs_comments if i.shape[0] > 0][:-1])  # excluding last month, because it is not complete

In [16]:
df_comments = df_comments.set_index('id')
df_comments['created_time'] = pd.to_datetime(df_comments['created_time'])
df_comments['message'] = df_comments['message'].fillna('')

In [17]:
df_posts.head()

,attachment_title,attachment_type,attachment_url,created_time,from_id,from_name,message,object_id,shares_count,status_type,type,updated_time
id,,,,,,,,,,,,
135384786514720_135384799848052,None,None,None,2010-11-26 18:34:49+00:00,1610983968940296,David Svoboda,,None,0,None,status,2010-11-26 18:34:49+00:00
135384786514720_157753440944521,None,None,None,2011-02-28 06:23:52+00:00,1732775143407905,Šárinka Pospíšilová,noo....je tady asi víc holek cooo?! xP :D :D,None,0,None,status,2011-02-28 19:12:53+00:00
135384786514720_157651807621351,None,None,None,2011-02-27 19:08:42+00:00,1565918073474103,Jirka Mičánek,"Tak, název vymyšlen, manga se bude jmenovat ""T...",None,0,None,status,2011-02-28 17:10:56+00:00
135384786514720_157829847603547,Sčítání českých a slovenských otaku,avatar,https://www.facebook.com/groups/135384786514720/,2011-02-28 15:56:12+00:00,1613535518705290,DahviEe Honycut,,None,0,None,status,2011-02-28 15:56:12+00:00
135384786514720_157824030937462,Amv - Do you know your anime?,share,https://l.facebook.com/l.php?u=https%3A%2F%2Fw...,2011-02-28 15:29:50+00:00,1610983968940296,David Svoboda,Už jsme překročili počet 80 členů! Sice to ješ...,None,0,shared_story,link,2011-02-28 15:29:50+00:00

In [18]:
df_posts.describe()

       shares_count
count  46343.000000
mean       0.095937
std        0.925444
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       57.000000

In [19]:
df_posts.shape

(46343, 12)

In [20]:
df_comments.head()

,created_time,from_id,from_name,message,object_id,parent_id
id,,,,,,
157837667602765,2011-02-28 16:19:52+00:00,1694250567294000,Jana Boušová,Asi jo :D,135384786514720_157753440944521,None
157869244266274,2011-02-28 18:57:31+00:00,10208455302058617,Ondřej Barney Dvořáček,jujda ... a není to tak skoro všude ? :D,135384786514720_157753440944521,None
157659047620627,2011-02-27 19:47:08+00:00,1664956386860373,Marie Svobodová,To zní dobře... už máš toho zlouna?,135384786514720_157651807621351,None
157660634287135,2011-02-27 19:55:33+00:00,1543691859040756,Tomáš Kaleja,zni to fakt good :D už se těšim :),135384786514720_157651807621351,None
157671940952671,2011-02-27 20:47:06+00:00,1767392416604853,Klára Čikotová,už se na to fakt těšim,135384786514720_157651807621351,None

In [21]:
df_comments.describe()

,created_time,from_id,from_name,message,object_id,parent_id
count,572922,572922,572922,572922,572922,135630
unique,569747,10958,10846,527290,35251,29884
top,2015-09-04 17:55:24+00:00,1912933802068421,Adam Furik,,135384786514720_1264743826912138,1086732758046580
freq,8,12248,12248,11382,600,223
first,2011-02-14 20:58:36+00:00,NaN,NaN,NaN,NaN,NaN
last,2017-10-31 20:22:13+00:00,NaN,NaN,NaN,NaN,NaN

In [22]:
df_comments.shape

(572922, 6)

In [24]:
df_messages = pd.concat((df_posts[['created_time', 'message', 'from_name', 'from_id']], df_comments[['created_time', 'message', 'from_name', 'from_id']]))
df_messages.head()

,created_time,message,from_name,from_id
id,,,,
135384786514720_135384799848052,2010-11-26 18:34:49+00:00,,David Svoboda,1610983968940296
135384786514720_157753440944521,2011-02-28 06:23:52+00:00,noo....je tady asi víc holek cooo?! xP :D :D,Šárinka Pospíšilová,1732775143407905
135384786514720_157651807621351,2011-02-27 19:08:42+00:00,"Tak, název vymyšlen, manga se bude jmenovat ""T...",Jirka Mičánek,1565918073474103
135384786514720_157829847603547,2011-02-28 15:56:12+00:00,,DahviEe Honycut,1613535518705290
135384786514720_157824030937462,2011-02-28 15:29:50+00:00,Už jsme překročili počet 80 členů! Sice to ješ...,David Svoboda,1610983968940296

In [26]:
df_messages.describe()

                     created_time message   from_name           from_id
count                      619265  619265      619265            619265
unique                     615389  564419       11081             11197
top     2013-06-03 17:56:26+00:00          Adam Furik  1912933802068421
freq                           10   18579       12369             12369
first   2010-11-26 18:34:49+00:00     NaN         NaN               NaN
last    2017-10-31 20:22:13+00:00     NaN         NaN               NaN

## some basic things

In [ ]:
df_posts['from_id'].value_counts().value_counts().sort_index().plot.bar(figsize=(22, 7), title='histogram of posts')
plt.xlabel('number of posts')
plt.ylabel('number of people')

In [ ]:
df_posts['from_name'].value_counts()[:12].plot.bar(figsize=(22, 7))
plt.xticks(rotation=10)

In [ ]:
df_posts['type'].value_counts().plot.bar(figsize=(22, 7))
plt.xticks(rotation=0)

In [ ]:
df_posts['shares_count'].value_counts().sort_index().plot.bar(figsize=(22, 7), logy=True)

In [ ]:
most_shared = df_posts[df_posts['shares_count'] == df_posts['shares_count'].max()].iloc[0]
most_shared

In [ ]:
most_shared['attachment_url']

## message length analysis

In [ ]:
df_posts['word_count'] = df_posts['message'].str.split().apply(len)

In [ ]:
df_posts['char_count'] = df_posts['message'].str.len()

In [ ]:
df_posts['word_count'].value_counts().head(10)

In [ ]:
df_posts['char_count'].value_counts().head(10)

In [ ]:
df_posts[['word_count', 'char_count']].describe()

In [ ]:
sorted_word_lengths = df_posts['word_count'].sort_values(ascending=False)
sorted_word_lengths.head()

In [ ]:
sorted_char_lengths = df_posts['char_count'].sort_values(ascending=False)
sorted_char_lengths.head()

In [ ]:
df_posts.loc[sorted_word_lengths[:10].index][['created_time', 'from_name', 'message', 'word_count', 'char_count']]

In [ ]:
df_posts.loc[sorted_char_lengths[:10].index][['created_time', 'from_name', 'message', 'word_count', 'char_count']]

In [ ]:
df_posts

In [ ]:
sorted_word_lengths.index[:10]

In [ ]:
df_posts[df_posts['word_count'] == sorted_word_lengths.iloc[0]]

In [ ]:
df_posts[df_posts['word_count'] == sorted_word_lengths.iloc[1]]

In [ ]:
df_posts.groupby('from_name').sum().sort_values(by='word_count', ascending=False)[:12]['word_count'].plot.bar(figsize=(22, 7))
plt.xticks(rotation=10)

In [ ]:
df_posts.groupby('from_name').sum().sort_values(by='char_count', ascending=False)[:12]['char_count'].plot.bar(figsize=(22, 7))
plt.xticks(rotation=10)

In [ ]:
df_posts.groupby('from_name').max().sort_values(by='word_count', ascending=False)[:12]['word_count'].plot.bar(figsize=(22, 7))
plt.xticks(rotation=10)

In [ ]:
df_posts.groupby('from_name').mean().sort_values(by='word_count', ascending=False)[:12]['word_count'].plot.bar(figsize=(22, 7))
plt.xticks(rotation=10)

In [ ]:
df_posts.groupby('from_name').median().sort_values(by='word_count', ascending=False)[:12]['word_count'].plot.bar(figsize=(22, 7))
plt.xticks(rotation=0)

In [ ]:
df_posts.groupby('from_name').var().fillna(0).sort_values(by='word_count', ascending=False)[:12]

In [ ]:
df_posts.groupby('from_name').var().sort_values(by='word_count', ascending=False)[:12]['word_count'].plot.bar(figsize=(22, 7))
plt.xticks(rotation=15)

## message lengths and types in time

In [ ]:
df_posts['type'].value_counts()

In [ ]:
df_posts['type'].unique()

In [ ]:
for post_type in df_posts['type'].unique():
    df_posts[df_posts['type'] == post_type].groupby(pd.Grouper(key='created_time', freq='M'))['type'].count().plot(figsize=(22, 7), label=post_type)
plt.legend()

In [ ]:
for post_type in ['status', 'link', 'photo', 'video']:
    df_posts[df_posts['type'] == post_type].groupby(pd.Grouper(key='created_time', freq='M'))['type'].count().plot(figsize=(22, 7), label=post_type)
plt.legend()

In [ ]:
for post_type in ['status', 'link', 'photo', 'video']:
    df_posts[df_posts['type'] == post_type].groupby(pd.Grouper(key='created_time', freq='M'))['type'].count().rolling(3).sum().plot(figsize=(22, 7), label=post_type)
plt.legend()

In [ ]:
for post_type in ['status', 'link', 'photo', 'video']:
    df_posts[df_posts['type'] == post_type].groupby(pd.Grouper(key='created_time', freq='3M'))['type'].count().plot(figsize=(22, 7), label=post_type)
plt.title('počet příspěvků podle typu, sečteno přes čtvrtletí')
plt.legend()

In [ ]:
for post_type in ['status', 'link', 'photo', 'video']:
    df_posts[df_posts['type'] == post_type].groupby(pd.Grouper(key='created_time', freq='Y'))['type'].count().plot(figsize=(22, 7), label=post_type)
plt.legend()

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='Y'))['message'].count().plot(figsize=(22, 7))

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='Y'))['char_count'].sum().plot(figsize=(22, 7))

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['char_count'].mean().plot(figsize=(22, 7))

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['char_count'].median().plot(figsize=(22, 7), title='počet znaků mediánového příspěvku')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['word_count'].median().plot(figsize=(22, 7))

In [ ]:
df_posts[df_posts['type'] == 'video']

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('kirito', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova Kirito')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('kirit', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova Kirit*')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: x.str.contains('kirito', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova Kirito')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('asuna', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova Asuna')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: x.str.contains('waifu', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova waifu')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: x.str.contains('lewd', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova lewd')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('waifu', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova waifu')

In [ ]:
df_posts[df_posts['message'].str.contains('waifu', case=False)][['from_name', 'message']]

In [ ]:
df_posts[df_posts['message'].str.contains('kirito', case=False)][['from_name', 'message', 'created_time']]

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('anime', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova anime')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('anim', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova anim*')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('mang', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova mang*')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('sao', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova sao')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('sao|sword art', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova sao/sword art')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('yaoi', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova yaoi')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('jaoi', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova jaoi')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('ahegao', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova ahegao')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='3M'))['message'].agg(lambda x: x.str.contains('agehao', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova agehao')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: x.str.contains('acon', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova acon')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: x.str.contains('advik|advík', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova advik/advík')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: x.str.contains('anime fest', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova animefest')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: x.str.contains('animefest', case=False).sum()).plot(figsize=(22, 7), title='počet výskytů slova animefest')

In [ ]:
def animfest_pred(x):
    return x.str.contains('anime fest', case=False) | x.str.contains('animefest', case=False) | x.str.contains(' af ', case=False) | x.str.contains(' AF') | x.str.contains(' afk', case=False) | x.str.startswith('AF') | x.str.endswith('AF')

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: animfest_pred(x).sum()).plot(figsize=(22, 7), title='počet výskytů slova animefest')

In [ ]:
df_posts.groupby(df_posts['created_time'].dt.month)['message'].agg(lambda x: animfest_pred(x).sum()).plot(figsize=(22, 7), title='počet výskytů slova animefest podle měsíce')
plt.xticks(np.arange(1, 13), ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'])

In [ ]:
df_posts.groupby(pd.Grouper(key='created_time', freq='M'))['message'].agg(lambda x: animfest_pred(x).sum()).plot(figsize=(22, 7), title='počet výskytů slova AF')

### trying different AF filters

In [ ]:
df_posts[df_posts['message'].str.contains(' AF') | df_posts['message'].str.startswith('AF')][['from_name', 'message', 'created_time']].shape

In [ ]:
df_posts[df_posts['message'].str.contains('AF')][['from_name', 'message', 'created_time']]

In [ ]:
df_posts[df_posts['message'].str.contains(' AF')][['from_name', 'message', 'created_time']].shape

In [ ]:
df_posts[df_posts['message'].str.contains('AF') & ~df_posts['message'].str.contains(' AF')][['from_name', 'message', 'created_time']]

In [ ]:
# sanity check že ' AF' pokryje všechny výskyty zkratky animefestu
df_posts[df_posts['message'].str.contains('AF') & ~df_posts['message'].str.contains(' AF')]['message'].tolist()

In [ ]:
# sanity check že ' AF' pokryje všechny výskyty zkratky animefestu
df_posts[df_posts['message'].str.contains('af', case=False) & ~df_posts['message'].str.contains(' af', case=False)]['message'].tolist()

In [ ]:
# sanity check že ' AF' pokryje všechny výskyty zkratky animefestu
mess_str = df_posts['message'].str
af_filter_2 = mess_str.contains(' af', case=False) | mess_str.startswith('af')
df_posts[af_filter_2]['message'].tolist()

In [ ]:
# sanity check že ' AF' pokryje všechny výskyty zkratky animefestu
af_filter_3 = mess_str.contains(' af ', case=False) | mess_str.contains(' AF') | mess_str.contains(' afk', case=False)  | mess_str.startswith('AF') | mess_str.endswith('AF')
df_posts[af_filter_3]['message'].tolist()

In [ ]:
df_posts[af_filter_2 & ~af_filter_3]['message'].tolist()

In [ ]:
df_posts[mess_str.contains(' afk', case=False)]['message'].tolist()